@charset "utf-8";

/* 
Top_page
*/
body{
    background: linear-gradient(-45deg,#05FBFF, #ffffff);
    height: 1080px;
    width: auto;
}

.input_area{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}

#title{
    font-size: 48pt;
    font-weight: bold;
    font-style: italic;
    color: darkblue;
    padding: 10px;
}

.uname_space{
    padding: 10px;
    font-size: 16pt;
}

#uname{
    font-size: 16pt;
}

#text{
    font-size: 16pt;
    margin: 10px;
}

#send{
    margin: 10px;
}

#output{
    color: transparent;
}